In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
import joblib

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sqlalchemy import create_engine

In [64]:
import sqlalchemy
import pandas as pd
import sqlite3 as sql
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
import pickle
from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import Ridge
from sklearn.svm import SVR
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import tree
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.neighbors import NearestNeighbors
from sklearn.ensemble import RandomForestRegressor

In [65]:
%load_ext sql
%config SqlMagic.autocommit = False

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [66]:
%sql sqlite:///data/diamonds_train.db

In [67]:
%%sql tables <<
SELECT
    name
FROM
    sqlite_master
WHERE
    type ='table' AND
    name NOT LIKE 'sqlite_%';

 * sqlite:///data/diamonds_train.db
Done.
Returning data to local variable tables

In [68]:
tables

[('diamonds_dimensions',),
 ('diamonds_transactional',),
 ('diamonds_properties',),
 ('diamonds_cut',),
 ('diamonds_color',),
 ('diamonds_clarity',),
 ('diamonds_city',)]

In [71]:
def conection(database):
    connection = create_engine("sqlite:///"+ database).connect()
    return connection
con = conection("data/diamonds_train.db")

In [72]:
def query_diamond(query):
    df_diamonds_full_train = pd.read_sql_query(query,con)
    return df_diamonds_full_train
query_diamonds_full_train = '''
SELECT
    d_prop.index_id,
    d_tran.carat,
    d_cut.cut,
    d_col.color,
    d_clar.clarity,
    d_dim.depth,
    d_dim.'table',
    d_dim.x,
    d_dim.y,
    d_dim.z,
    d_city.city,
    d_tran.price
FROM diamonds_properties as d_prop
    INNER JOIN diamonds_clarity as d_clar ON d_prop.clarity_id = d_clar.clarity_id
    INNER JOIN diamonds_color as d_col ON d_prop.color_id = d_col.color_id
    INNER JOIN diamonds_cut as d_cut ON d_prop.cut_id = d_cut.cut_id
    INNER JOIN diamonds_dimensions as d_dim ON d_prop.index_id = d_dim.index_id
    INNER JOIN diamonds_transactional as d_tran ON d_prop.index_id = d_tran.index_id
    INNER JOIN diamonds_city as d_city ON d_tran.city_id = d_city.city_id
'''

In [73]:
df_diamonds_train = query_diamond(query_diamonds_full_train)

In [74]:
df_diamonds_train.head()

,index_id,carat,cut,color,clarity,depth,table,x,y,z,city,price
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,1.21,Premium,J,VS2,62.4,58.0,6.83,6.79,4.25,Dubai,4268
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0.32,Very Good,H,VS2,63.0,57.0,4.35,4.38,2.75,Kimberly,505
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,0.71,Fair,G,VS1,65.5,55.0,5.62,5.53,3.65,Las Vegas,2686
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,0.41,Good,D,SI1,63.8,56.0,4.68,4.72,3.00,Kimberly,738
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,1.02,Ideal,G,SI1,60.5,59.0,6.55,6.51,3.95,Dubai,4882

In [75]:
df_diamonds_test = pd.read_csv("data/diamonds_test.csv")

In [76]:
df_diamonds_test.head()

,id,carat,cut,color,clarity,depth,table,x,y,z,city
0,0,0.79,Very Good,F,SI1,62.7,60.0,5.82,5.89,3.67,Amsterdam
1,1,1.20,Ideal,J,VS1,61.0,57.0,6.81,6.89,4.18,Surat
2,2,1.57,Premium,H,SI1,62.2,61.0,7.38,7.32,4.57,Kimberly
3,3,0.90,Very Good,F,SI1,63.8,54.0,6.09,6.13,3.90,Kimberly
4,4,0.50,Very Good,F,VS1,62.9,58.0,5.05,5.09,3.19,Amsterdam

In [77]:
# Data preparation
target = "price"
cat_features = ["cut", "color", "clarity", "city"]
num_features = ["carat", "depth", "table", "x", "y", "z"]

for cat_feat in cat_features:
    df_diamonds_train[cat_feat] = df_diamonds_train[cat_feat].astype('category')
    df_diamonds_test[cat_feat] = df_diamonds_test[cat_feat].astype('category')

In [78]:
cat_df = pd.get_dummies(df_diamonds_train[cat_features])
num_df = df_diamonds_train.loc[:,num_features]
train_df = pd.concat([cat_df, num_df], axis = 1)

cat_df = pd.get_dummies(df_diamonds_test[cat_features])
num_df = df_diamonds_test.loc[:,num_features]
test_df = pd.concat([cat_df, num_df], axis = 1)

In [79]:
features = list(cat_df.columns) + list(num_df.columns)

In [80]:
scaler = StandardScaler()
X = scaler.fit_transform(train_df.loc[:,features].values)
y = df_diamonds_train[target]

In [84]:
X_train, X_validation, y_train, y_validation = train_test_split(X, y, test_size=0.2, random_state=42)
#print(f"X_train: {X_train.shape}, X_test: {X_validation.shape}, y_train: {y_train.shape}, y_test: {y_validation.shape}"

In [100]:
#model training
#model = LinearRegression()
model = RandomForestRegressor()
#model = linear_model.Lasso()
#model = ElasticNet()
#model = Ridge()
#model = SVR()
#model = SGDRegressor()
#model = LinearRegression()
model.fit(X=X, y=y)

RandomForestRegressor()

In [101]:
X_test = scaler.transform(test_df.loc[:,features].values)

In [106]:
y_pred = model.predict(X_test).clip(0,30000) ##Esta para el submiy

In [103]:
#y_pred = model.predict(X_validation).clip(0,30000) ##Está para calcular el RMSE

In [107]:
rmse = mean_squared_error(y_validation, y_pred)**0.5
rmse

ValueError: Found input variables with inconsistent numbers of samples: [8091, 13485]

In [110]:
submission = pd.DataFrame({"id":df_diamonds_test['id'], 'price':y_pred})
submission.to_csv('submission5.csv', index=False)